[gcode_macro DISPLAY_LED_OFF]
gcode: 
    SET_LED LED=fysetc_mini12864 RED=0 GREEN=0 BLUE=0    

#	Set RGB values for each Neopixel. 
#	Index 1 = display, Index 2 and 3 = Knob
[gcode_macro DISPLAY_LED_ON]
default_parameter_TRANSMIT: 1
gcode: 
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
        SET_LED LED=fysetc_mini12864 RED=0.2 GREEN=0.2 BLUE=0.1 INDEX=2 TRANSMIT=0
        SET_LED LED=fysetc_mini12864 RED=0.2 GREEN=0.2 BLUE=0.1 INDEX=3 TRANSMIT={TRANSMIT}

[delayed_gcode temp_led]
initial_duration: 1
gcode:
#   DISPLAY_LED_ON TRANSMIT=1
   #if the extruder is off
   {% if printer.extruder.target == 0 %}
      #Set the LED to red if the extruder is off but is still hot, otherwise 
      # set the color to white
      {% if printer.extruder.temperature > 60.0 %}
         SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=1
      {% endif %}     
   {% else %}
         #if the extruder temp is at target temperature 
         {% if printer.extruder.temperature >= printer.extruder.target - 4.0 %}
            SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2  TRANSMIT=0
         #if the extruder is still heating
         {% else %}
            {% set scaler = printer.extruder.temperature|float / printer.extruder.target|float %}
            SET_LED LED=fysetc_mini12864 RED={ scaler|float * 1 } GREEN=0 BLUE={ 1-scaler|float * 1 } INDEX=2  TRANSMIT=0
         {% endif %}  
   {% endif %}
   
   #if the bed is off
   {% if printer.heater_bed.target == 0 %}
      #Set the LED to red if the bed is off but is still hot, otherwise 
      # set the color to white
      {% if printer.heater_bed.temperature > 60.0 %}
         SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 TRANSMIT=1
         #if the bed temp is at target temperature 
      {% endif %}
   {% else %}
         {% if printer.heater_bed.temperature >= printer.heater_bed.target - 4.0 %}
            SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3  TRANSMIT=1
         #if the bed is still heating
         {% else %}
            {% set scaler = printer.heater_bed.temperature|float / printer.heater_bed.target|float %}
            SET_LED LED=fysetc_mini12864 RED={ scaler|float * 1 } GREEN=0 BLUE={ 1-scaler|float * 1 } INDEX=3  TRANSMIT=1
         {% endif %}  

  {% endif %}
  UPDATE_DELAYED_GCODE ID=temp_led DURATION=10
  
#	Set RGB values on boot up for each Neopixel. 
#	Index 1 = display, Index 2 and 3 = Knob

